<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Task</title>
   <style>
    body {
      font-family: "Roboto", Arial, sans-serif;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
      nav {
        text-align: center;
      }
      nav a {
        padding: 1rem;
      }
      h1 {
      text-align: center;
      margin-top: 3%;
    }
    form {
      background-color: rgb(222, 219, 219);
      border-radius: 10px;
      padding: 20px;
      width: 90%;
      max-width: 600px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
    label {
      font-size: 16px;
      margin-bottom: 5px;
    }
    input[type="text"],
    input[type="date"],
    textarea,
    select {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      font-size: 15px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
    input[type="checkbox"] {
      transform: scale(2);
   
    }
    button {
      border: none;
      font-size: 15px;
      background-color: #0077cc;
      color: white;
      cursor: pointer;
      padding: 10px 20px;
      border-radius: 4px;
      align-self: center;
    }
    button:hover {
      background-color: #005fa3;
    }
   </style>
  </head>
  <body>
    <nav>
      <a href="/users/<%=user._id%>/tasks">Your Tasks</a>
      <a href="/auth/reset">Reset Your Password</a>
      <a href="/auth/sign-out">Sign Out</a>
    </nav>
    <div class="edit-container"></div>
    <h1>Edit Task</h1>
    <form
      action="/users/<%= user._id %>/tasks/<%= task._id %>?_method=PUT"
      method="POST"
    >
      <label for="name">Task Name:</label>
      <input
        type="text"
        name="name"
        id="name"
        value="<%= task.name %>"
        required
      />
      <label for="description">Description:</label>
      <textarea name="description" id="description" rows="4"><%= task.description %></textarea>
      <label for="category">Category:</label>
      <input
        type="text"
        name="category"
        id="category"
        value="<%= task.category %>"
        required
      />
      <label for="isHighPriority">High Priority:</label>
      <input type="checkbox" name="isHighPriority" <% if (task.isHighPriority) { %>checked<% } %> >
      <label for="dueDate">Due Date:</label>
      <input
        type="date"
        name="dueDate"
        id="dueDate"
        value="<%= (task.dueDate).toISOString().split('T')[0] %>"
        required
      />
      <label for="status">Status:</label>
      <select name="status" id="status" required>
        
        <option value="Not Started" <%= task.status === 'Not Started' ? 'selected' : '' %> >Not Started</option>
        <option value="In Progress"<%= task.status === "In Progress" ? 'selected' : '' %> >In Progress</option>
        <option value="Completed"<%= task.status === "Completed" ? 'selected' : '' %> >Completed</option>
        <option value="On Hold"<%= task.status === "On Hold" ? 'selected' : '' %> >On Hold</option>
      </select>
      <button type="submit">Submit</button>
    </form>
  </div>
  </body>
</html>
