<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Task %></title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Edit <%= task.name %></h1>
    <form
      action="/users/<%= user._id %>/tasks/<%= task._id %>?_method=PUT"
      method="POST"
    >
      <label for="name">Task Name:</label>
      <input
        type="text"
        name="name"
        id="name"
        value="<%= task.name %>"
        required
      />
      <label for="description">Description:</label>
      <textarea
        name="description"
        id="description"
        value="<%= task.name %>"
      ></textarea>
      <label for="category">Category:</label>
      <input
        type="text"
        name="category"
        id="category"
        value="<%= task.category %>"
        required
      />
      <label for="isHighPriority">High Priority:</label>
      <input type="checkbox" name="isHighPriority" id="isHighPriority" <%=
      task.isHighPriority ? 'Yes' : 'No' %>/>
      <label for="dueDate">Due Date:</label>
      <input
        type="date"
        name="dueDate"
        id="dueDate"
        value="<%= new Date(task.dueDate).toLocaleDateString('en-US', { month:
            'short', day: 'numeric' }) %>"
        required
      />
      <label for="status">Status:</label>
      <select name="status" id="status">
        <option value="Not Started">Not Started</option>
        <option value="In Progress">In Progress</option>
        <option value="Completed">Completed</option>
        <option value="On Hold">On Hold</option>
        <option value="Cancelled">Cancelled</option>
      </select>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
