<!-- views/applications/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tasks</title>
    <style>
      div {
        margin-top: 50px;
      }
    </style>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Your Tasks</h1>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Category</th>
          <th>High Priority</th>
          <th>Due Date</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% tasks.forEach(task => { %>
        <tr>
          <td>
            <a href="/users/<%= user._id %>/tasks/<%= task._id %>"
              ><%= task.name %>
            </a>
          </td>
          <td><%= task.category %></td>
          <td><%= task.isHighPriority ? 'Yes' : 'No' %></td>
          <td>
            <%= new Date(task.dueDate).toLocaleDateString('en-US', { month:
            'short', day: 'numeric', timeZone: 'UTC' }) %>
          </td>
          <td><%= task.status %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <div>
      <a href="/users/<%=user._id%>/tasks/new">Add a New Task</a>
    </div>
  
  </body>
</html>
